version: 2
jobs:
  test:
    docker:
      - image: circleci/node:10
    steps:
      - add_ssh_keys:
          fingerprints:
            - '<GITHUB DEPLOY USER SSH KEY FINGERPRINT>' # Note: The corresponding private ssh key should be set in CircleCI
      - checkout
      - run: yarn install --frozen-lockfile
      - run: yarn test
  release:
    docker:
      - image: circleci/node:10
    steps:
      - checkout
      - run: yarn install --ignore-scripts --frozen-lockfile
      - run: git config --global user.email "$GIT_AUTHOR_EMAIL"
      - run: git config --global user.name "$GIT_AUTHOR_NAME"
      - run: yarn run release
workflows:
  version: 2
  do_build:
    jobs:
      - test:
          filters:
            branches:
              ignore:
                - dev
                - demo
                - qa
                - alpha
                - master
      - release:
          filters:
            branches:
              only:
                - dev
                - demo
                - qa
                - alpha
                - master
