.big-search-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background-color: rgba(0, 0, 0, 0.8);
}

.big-search {
	background-color: $c-bg-light;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.05);
	display: flex;
	flex-flow: column;
	position: absolute;
	top: 0;
	left: 50%;
	overflow: hidden;
	width: 100%;
	max-height: 100%;
	max-width: rem(960);
	transform: translate(-50%, 0);

	@include gt('small') {
		border-radius: 2px;
		top: spacing('base');
		width: calc(100% - #{rem(32)});
		max-height: calc(100% - #{rem(32)});
	}

	@include gt('medium') {
		top: spacing('extra-loose');
		width: calc(100% - #{rem(64)});
		max-height: calc(100% - #{rem(64)});
	}

	&--scrolled .big-search__header {
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	}

	.big-search__search-view-header {
		.text-input__input {
			border: none;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			border-bottom: 1px solid $c-border-light;
			width: 100%;
			padding-right: rem(104);

			&:focus {
				border-color: $c-border-light;
				box-shadow: none;
			}
		}
		.btn__text {
			color: $c-text-icon;
		}
		.btn__icon {
			fill: $c-text-icon;
		}
	}

	.big-search__search-view-search-bar {
		position: relative;
	}

	.big-search__search-view-search-bar-buttons {
		display: flex;
		position: absolute;
		right: spacing('base');
		top: 50%;
		transform: translateY(-50%);

		@include gt('medium') {
			right: spacing('loose');
		}
	}

	.big-search__search-view-body {
		overflow-y: auto;
	}

	.big-search__search-view-context-btn {
		background-color: $c-off-white;
		border-radius: 0;
		padding-right: spacing('extra-loose');
		width: 100%;
		&:focus,
		&:hover {
			background-color: $c-primary;
			.btn__text {
				color: white;
			}
			.btn__icon {
				stroke: white;
			}
		}
		.btn__inner {
			justify-content: space-between;
			flex-flow: row-reverse;
		}
		.btn__icon {
			fill: none;
			stroke: $c-primary;
			margin-left: auto;
			opacity: 1;
			width: rem(20);
			top: auto;
			justify-self: flex-end;
		}
	}

	.big-search__view-header {
		border-bottom: 1px solid $c-border;
		display: flex;
		flex: 0 0 auto;
		justify-content: space-between;
		padding: 1rem;

		.btn__icon {
			fill: $c-text-icon;
		}
	}

	.big-search__view-body {
		padding: spacing('base');
		display: flex;
		flex-direction: column;
		overflow-y: auto;

		&--centered {
			align-items: center;
		}
	}

	.big-search__view-footer {
		display: flex;
		flex-flow: column;
		flex: 1 0 auto;
		padding: spacing('base');
		border-top: 1px solid $c-border;

		.btn + .btn {
			margin-top: spacing('tight');
		}

		@include gt('small') {
			flex-flow: row-reverse;
			justify-content: space-between;

			.btn + .btn {
				margin-top: 0;
			}
		}
	}
}

.big-search__update-user-avatar {
	display: flex;
	justify-content: center;
}
