// DETAIL LAYOUT SPECIFIC
// TODO: UPDATE THIS WHEN DETAIL LAYOUT IS UPDATED
.detail-view {
	display: flex;
	flex-flow: column;

	.detail-view-container {
		width: 100%;
		padding: 0;
		margin-top: spacing('loose');
	}

	@include gt('large') {
		flex-flow: row;
	}
}

.detail-view__image {
	padding-left: spacing('base');
	margin-bottom: spacing('base');
	@include gt('large') {
		padding-left: rem(48);
		margin-bottom: spacing('extra-loose');
	}
}

.detail-view__content {
	width: 100%;
	@include gt('medium') {
		padding: 0 spacing('base');
	}

	@include gt('large') {
		padding: 0 spacing('extra-loose');
	}
}
