.main-wrapper {
	display: flex;
	flex-direction: column;
}

.main-content {
	display: flex;
	flex: 1;
}

.main-content-outer {
	display: flex;
	flex-direction: row;
	flex: 1;
	height: calc(100vh - #{rem(48)});
	overflow: hidden;
}
