# Root file owners
/.circleci @kengoldfarb

# Package owners
/packages/heartwood-components @liquidg3 
/packages/react-heartwood-components @liquidg3
/packages/eslint-config-spruce @kengoldfarb 
/packages/eslint-plugin-spruce @kengoldfarb 
/packages/spruce-next-helpers @kengoldfarb 
/packages/spruce-node @kengoldfarb 
/packages/spruce-skill @kengoldfarb 
/packages/spruce-skill-server @kengoldfarb 
/packages/spruce-utils @kengoldfarb 
