@import '~@sprucelabs/heartwood-components/stylesheets/heartwood-components.scss';

#root {
	background-color: $c-bg;
}

.docz__label {
	display: inline-block;
	padding: 0.75rem 1rem;
	color: $c-white;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: $c-ui-warn-dark;
}

.docz__index-cards {
	display: flex;
	flex-flow: column;

	@media screen and (min-width: 700px) {
		flex-flow: row wrap;
	}

	.docz__index-card-text {
		margin-top: 0;
		margin-left: 0.5rem;
	}
}

.docz__index-card-link {
	flex: 0 0 auto;
	width: 100%;
	margin-bottom: 1rem;
	transition: transform 200ms ease-in-out;

	&:hover {
		box-shadow: 0 2px 16px rgba($c-text, 0.05);
		transform: translate(0, -1px);
	}

	@media screen and (min-width: 700px) {
		width: calc(50% - 1.5rem);
		margin-bottom: 1.5rem;

		&:nth-child(even) {
			margin-left: 0.75rem;
		}

		&:nth-child(odd) {
			margin-right: 0.75rem;
		}
	}

	// @media screen and (min-width: 1200px) {
	// 	width: calc(33.33% - 3rem);

	// 	margin-left: 0.75rem;
	// 	margin-right: 0.75rem;

	// 	&:first-child,
	// 	&:nth-child(3n + 1) {
	// 		margin-left: 0;
	// 	}

	// 	&:nth-child(3n) {
	// 		margin-right: 0;
	// 	}
	// }
}

.docz__index-card {
	display: inline-flex;
	align-items: center;
	padding: 1rem;
	font-size: 18px;

	&.docz__index-card--is-small {
		font-size: 16px;
	}
}

.docz__index-card-icon-wrapper {
	display: inline-block;
	padding: 0.5rem;
	line-height: 0;
	border-radius: 9999px;
}

.docz__index-card-icon,
.docz__index-card-icon:not(:root) {
	width: 1.5rem;
	height: 1.5rem;
	fill: none;
	stroke: $c-white;
	stroke-width: 1.5px;
	overflow: visible;

	&.docz__index-card-icon--fill {
		stroke: none;
		fill: $c-white;
	}
}

.docz__index-card-title {
	font-weight: 600;
	color: $c-text;
}
.docz__index-card-description {
	font-size: 14px;
	color: $c-text-light;
}

.card > img.docz__index-card-icon-image {
	flex: 0 0 24px;
	width: 1.5rem;
	max-width: 100%;
	height: auto;
}
