.text-container {
	> * + * {
		margin-top: spacing('base');
	}

	&--spacing-tight {
		> * + * {
			margin-top: spacing('tight');
		}
	}

	&--spacing-loose {
		> * + * {
			margin-top: spacing('loose');
		}
	}

	&--centered {
		text-align: center;
		> * {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.heading {
	@include typescale('heading-lg');
	font-weight: $font-weight-normal;
}
.subheading {
	@include typescale('heading-md');
	font-weight: $font-weight-bold;
}

.text {
	@include typescale('body');
	font-weight: $font-weight-normal;
	font-feature-settings: 'onum', 'pnum';
	font-variant-numeric: oldstyle-nums proportional-nums;
	.icon {
		height: 1rem;
		margin: 0 0.2rem;
		width: 1rem;
	}
}

a.text {
	color: $c-primary;
	display: inline-flex;
	align-items: center;
	.icon {
		&:not(.u-icon__no-fill) {
			fill: $c-primary;
		}
		&.u-icon__stroke {
			stroke: $c-primary;
		}
		height: 1rem;
		margin: 0 0.2rem;
		width: 1rem;
	}
}

.text__style {
	&--strong {
		font-weight: $font-weight-bold;
	}
	&--emphasis {
		font-style: italic;
	}
}
