.toast {
	@include type-style-body-sm;
	display: inline-block;
	min-width: rem(288);
	min-height: rem(56);
	max-width: rem(400);
	padding: spacing('tight');
	border-radius: 2px;
	background-color: $c-text;
	color: $c-white;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);

	&.toast-negative {
		background-color: $c-ui-critical-dark;
	}

	&.toast-positive {
		background-color: $c-ui-online-dark;
	}

	.btn {
		@include type-style-body-sm-em;
		width: auto;
		padding-left: 0;
		height: rem(32);
		color: inherit;

		.btn__inner {
			align-items: flex-end;
		}
	}

	@include gt('small') {
		margin-right: spacing('tight');
	}
}

.toast__header {
	@include type-style-body-sm-em;
	display: flex;
	justify-content: space-between;
	padding-bottom: spacing('extra-tight');

	.btn {
		@include type-style-body-sm-em;
		padding: 0;
		min-width: 0;
		height: rem(20);

		.btn__inner {
			align-items: flex-start;
		}
	}

	.btn__icon {
		width: rem(16);
		height: rem(16);
		fill: rgba($c-white, 0.8);
	}
}

.toasts-wrapper {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 10;

	@include gt('small') {
		bottom: spacing('base');
		left: spacing('base');
	}
}

.toast-wrapper + .toast-wrapper {
	margin-top: spacing('base');
}
