.autosuggest__wrapper {
	position: relative;
}

.autosuggest {
	display: none;
	position: absolute;
	z-index: 10;
	overflow: scroll;
	background-color: $c-bg-light;
	border: 1px solid $c-border;
	border-radius: 2px;
	box-shadow: $dimension-floating;

	&.autosuggest--show-suggestions {
		display: block;
		max-height: rem(200);
	}
}

.autosuggest__list-item-inner {
	width: 100%;

	.btn__inner {
		justify-content: flex-start;
	}
}

.autosuggest__list li[aria-selected='true'],
.autosuggest__list-item-inner:hover {
	background-color: $c-bg;
}

.autosuggest__no-results {
	@include typescale('ui');
	padding: spacing('tight');
	background-color: $c-bg;
}

.autosuggest__no-results-title {
	font-weight: $font-weight-bold;
}

.autosuggest__no-results-subtitle {
	margin-top: 0.5 * spacing('extra-tight');
	color: $c-text-light;
}

.text-input__clear-btn .btn__icon-wrapper {
	line-height: 0;
}
