.#{$ns}-autosuggest__wrapper {
	position: relative;
}

.#{$ns}-autosuggest {
	display: none;
	// display: block;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	max-height: rem(200);
	z-index: 1;
	overflow: scroll;
	background-color: $c-bg-light;
	border: 1px solid $c-border;
	border-radius: 2px;
	box-shadow: $dimension-floating;

	&.#{$ns}-autosuggest--show-suggestions {
		display: block;
	}
}

.#{$ns}-autosuggest__list-item-inner {
	width: 100%;

	.#{$ns}-btn__inner {
		justify-content: flex-start;
	}
}

.#{$ns}-autosuggest__list-item-inner:hover {
	background-color: $c-bg;
}

.#{$ns}-autosuggest__no-results {
	@include typescale('ui');
	padding: spacing('tight');
	background-color: $c-bg;
}

.#{$ns}-autosuggest__no-results-title {
	margin-bottom: 0.5 * spacing('extra-tight');
	font-weight: $font-weight-bold;
}

.#{$ns}-autosuggest__no-results-subtitle {
	color: $c-text-light;
}

.#{$ns}-text-input__clear-btn .#{$ns}-btn__icon-wrapper {
	line-height: 0;
}
