.#{$ns}-dropzone {
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	padding: spacing('base');
	width: 100%;
	min-height: rem(240);
	background-color: $c-bg;
	border: 2px dashed $c-border;
	border-radius: 4px;

	&:hover {
		border: 2px solid $c-primary;
	}

	&.#{$ns}-dropzone-small {
		min-height: rem(160);
	}
}

.#{$ns}-dropzone__icons,
.#{$ns}-dropzone__btn {
	margin-bottom: spacing('base');
}

.#{$ns}-dropzone__icons {
	line-height: 0;
}

.#{$ns}-dropzone__icon {
	stroke: $c-text-icon;
	fill: none;
}

.#{$ns}-dropzone__text {
	color: $c-text-light;
}

.#{$ns}-dropzone__helper-text,
.#{$ns}-dropzone__helper-text-bottom {
	@include typescale('heading-md');

	.#{$ns}-dropzone-small & {
		@include typescale('body');
	}
}

.#{$ns}-dropzone__helper-text-bottom {
	position: absolute;
	bottom: spacing('base');
	left: 0;
	width: 100%;
	text-align: center;
}

.#{$ns}-dropzone__warn-drop-icon {
	stroke: $c-ui-critical;
}

.#{$ns}-dropzone__did-upload-icon {
	stroke: $c-ui-online;
}

.#{$ns}-dropzone__helper-text,
.#{$ns}-dropzone__uploading-progress-wrapper {
	margin-bottom: spacing('base');
}

.#{$ns}-dropzone__uploading-text {
	@include typescale('heading-md');
}

.#{$ns}-dropzone__uploading-progress-wrapper {
	position: relative;
	width: 100%;
	height: rem(8);
	background-color: $c-grey-01;
}

.#{$ns}-dropzone__uploading-progress {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: $c-primary;
}

// Small Variant
.#{$ns}-dropzone-small {
	.#{$ns}-dropzone__btn {
		margin-bottom: 0;
	}

	.#{$ns}-dropzone__icons {
		margin-bottom: spacing('tight');
	}
}

// Circular Variant
.#{$ns}-dropzone-circular {
	border-radius: 9999px;
	max-width: rem(160);

	.#{$ns}-dropzone__btn {
		margin-bottom: spacing('tight');
	}

	.#{$ns}-dropzone__icons {
		margin-bottom: 0;
	}
}

// States
.#{$ns}-dropzone--is-hovered,
.#{$ns}-dropzone--has-error {
	.#{$ns}-dropzone__btn,
	.#{$ns}-dropzone__text {
		opacity: 0;
		visibility: hidden;
	}
}

// Hover Styles
.#{$ns}-dropzone--is-hovered {
	&.#{$ns}-dropzone {
		background-color: $c-bg;
		border: 2px solid $c-primary;
	}
}

// Error Styles
.#{$ns}-dropzone--has-error {
	&.#{$ns}-dropzone {
		background-color: $c-ui-critical-light;
		border: 2px solid $c-ui-critical;
	}
}

// Uploading Styles
.#{$ns}-dropzone--is-uploading,
.#{$ns}-dropzone--is-disabled {
	&.#{$ns}-dropzone {
		border: 2px solid $c-border;

		&:hover {
			border: 2px solid $c-border;
		}
	}
}
