.#{$ns}-star {
	stroke: $c-primary;
	fill: none;
	opacity: 0;
}

.#{$ns}-star--filled {
	fill: $c-primary;
}

.#{$ns}-stars {
	position: relative;
	height: rem(24);

	&:not(:hover)
		.#{$ns}-star-input__wrapper
		.#{$ns}-star-input:checked
		~ .#{$ns}-star,
	&:hover .#{$ns}-star-input__wrapper:hover .#{$ns}-star-input ~ .#{$ns}-star {
		opacity: 1;
		fill: $c-primary;
	}
}

.#{$ns}-star-input__wrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	cursor: pointer;

	.#{$ns}-star:last-of-type {
		opacity: 1;
	}
}

.#{$ns}-star-input__wrapper:nth-child(1) {
	z-index: 5;
}

.#{$ns}-star-input__wrapper:nth-child(2) {
	z-index: 4;
}

.#{$ns}-star-input__wrapper:nth-child(3) {
	z-index: 3;
}

.#{$ns}-star-input__wrapper:nth-child(4) {
	z-index: 2;
}

.#{$ns}-star-input__wrapper:nth-child(5) {
	z-index: 1;
}

.#{$ns}-star-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.#{$ns}-star-output-wrapper {
	position: static;
}
