.#{$ns}-tag {
	display: inline-flex;
	align-items: center;
	height: $tap-height;
	padding-left: spacing('base');
	border-radius: $border-radius-button;

	&.#{$ns}-tag-small {
		height: $tap-height-small;
	}
}

.#{$ns}-tag-primary {
	background-color: $c-primary;
	color: $c-white;

	.#{$ns}-btn__icon {
		fill: $c-white;
	}
}

.#{$ns}-tag-secondary {
	border: 1px solid $c-primary;
	color: $c-primary;

	.#{$ns}-btn__icon {
		fill: $c-primary;
	}
}
