/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border: 1px solid $c-ui-input-autofill;
	-webkit-box-shadow: 0 0 0px 1000px $c-ui-input-autofill inset;
}

.#{$ns}-text-input .#{$ns}-text-input__input,
.#{$ns}-text-input .#{$ns}-text-area__input {
	width: 100%;
}

.#{$ns}-text-input__pre {
	@include type-style-label;
	display: flex;
	justify-content: space-between;
}

.#{$ns}-text-input__post-label {
	color: $c-text-light;
}

.#{$ns}-text-input__helper {
	@include type-style-body-sm;
}

.#{$ns}-text-input__pre,
.#{$ns}-text-input__inner {
	margin-bottom: spacing('extra-tight');
}

.#{$ns}-text-input__inner {
	position: relative;
	display: flex;
	align-items: center;

	.#{$ns}-btn__icon-wrapper {
		line-height: 0;
	}
}

.#{$ns}-text-input__icon-pre {
	position: absolute;
	top: 50%;
	left: spacing('tight');
	transform: translate(0, -50%);
	width: rem(20);
	height: rem(20);
	fill: $c-text-icon;
	opacity: 0.7;
}

.#{$ns}-text-input__icon-pre ~ .#{$ns}-text-input__input {
	padding-left: spacing('extra-loose');
}

.#{$ns}-text-input__input,
.#{$ns}-text-area__input {
	@include input-focus-state;
	border: 1px solid $c-border;
	border-radius: $border-radius-input;
	font-family: $font-family-primary;
	-webkit-appearance: none;

	&[readonly] {
		color: $c-text-light;
		background-color: $c-grey-00;
		border: none;
		cursor: not-allowed;
	}

	.#{$ns}-text-input--has-error & {
		&:not(:focus) {
			border-color: $c-ui-critical;
			background-color: rgba($c-ui-critical, 0.1);
		}
	}
}

.#{$ns}-text-input__input {
	height: $tap-height;
	padding: 0 spacing('tight');

	.#{$ns}-text-input-small & {
		height: $tap-height-small;
	}
}

.#{$ns}-text-area__input {
	padding: spacing('tight');

	&.#{$ns}-text-area__input-no-resize {
		resize: none;
	}
}

.#{$ns}-text-input__appendix {
	margin-left: spacing('extra-tight');
}

.#{$ns}-text-input__helper {
	color: $c-text-light;
	opacity: 0.8;

	.#{$ns}-text-input--has-error & {
		color: $c-ui-critical;
		opacity: 1;
	}
}

.#{$ns}-text-input__country-select,
.#{$ns}-text-input__credit-card-icon-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: rem(54);
	height: 100%;
	border-color: $c-border;
	border-top-left-radius: $border-radius-input;
	border-bottom-left-radius: $border-radius-input;

	select {
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
	}
}

.#{$ns}-text-input__credit-card-icon-wrapper {
	display: flex;
	align-items: center;
	width: rem(56);
	padding: spacing('tight');
}

.#{$ns}-text-input__credit-card-icon {
	width: 100%;
	height: auto;
}

.#{$ns}-text-input__country-select,
.#{$ns}-text-input__credit-card-icon-wrapper {
	~ .#{$ns}-text-input__input {
		padding-left: rem(62);
	}
}
.#{$ns}-text-input--is-focused .#{$ns}-text-input__country-select {
	border-color: $c-primary;
}
.#{$ns}-text-input__country-indicator {
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-left: spacing('tight');

	.#{$ns}-ic__dropdown-arrow {
		fill: $c-text-icon;
	}
}

.#{$ns}-text-input__clear-btn.#{$ns}-btn.#{$ns}-btn-icon-only {
	position: absolute;
	top: 50%;
	right: spacing('tight');
	transform: translate(0, -50%);
	min-width: 0;
	width: rem(16);
	height: rem(16);
	padding: 0;

	.#{$ns}-btn__icon {
		width: 100%;
		height: 100%;
		fill: $c-text-icon;
		opacity: 0.7;
	}

	&:hover {
		svg {
			opacity: 1;
		}
	}
}
