.card {
	width: 100%;
	padding-bottom: spacing('base');
	background-color: $c-bg-light;
	box-shadow: $dimension-floating;

	&--centered {
		text-align: center;
	}

	@include gt('small') {
		padding-bottom: spacing('loose');
	}

	> img + * {
		margin-top: spacing('base');
	}
}

.card__header {
	display: flex;
	justify-content: space-between;
	padding: spacing('base');

	.card--centered & {
		flex-flow: column-reverse;
		align-items: flex-end;
	}
	.card--critical & {
		border-top: 4px solid $c-ui-critical;
	}

	@include gt('small') {
		padding: spacing('loose') spacing('loose');
	}
}

.card__header-label {
	@include type-style-label;
	display: inline-flex;
	align-items: center;

	.card--critical & {
		color: $c-ui-critical;
	}
}

.card__header-label-icon {
	margin-right: spacing('extra-tight');

	.card--critical & {
		fill: $c-ui-critical;
	}
}

.card__header-actions {
	flex: 0 0 auto;
	margin-top: -#{spacing('tight')};
	margin-left: spacing('tight');

	.context-menu .context-menu__button {
		width: spacing('extra-loose');
		height: spacing('extra-loose');
	}

	@include gt('small') {
		margin-top: -#{spacing('extra-tight')};
	}
}

.card__header-title {
	@include typescale('body');
	flex: 1 1 auto;
	width: 100%;
	font-weight: $font-weight-bold;

	@include gt('small') {
		@include typescale('heading-md');
	}
}

.card__body {
	.text {
		color: $c-text-light;
		line-height: $line-height-loose;
	}
}

.card__section {
	padding: 0 spacing('base') spacing('base');

	@include gt('small') {
		padding: 0 spacing('loose');
	}
}

.card__footer {
	padding: spacing('base') spacing('base') 0 spacing('base');

	@include gt('small') {
		padding-left: spacing('loose');
		padding-right: spacing('loose');
	}
}

// Spacing

.card + .card {
	margin-top: spacing('base');
}

// Styles for Score Cards

.card__scores {
	display: flex;
	flex-flow: column;
	justify-content: stretch;
	margin-top: spacing('base');

	@include gt('medium') {
		flex-flow: row;
	}
}

.card__score {
	flex: 1 0 auto;
	padding: spacing('base');
	text-align: center;
	color: $c-text-light;
	border-top: 1px solid $c-border;

	@include gt('medium') {
		border-right: 1px solid $c-border;

		&:last-of-type {
			border-right: none;
		}
	}
}

.card__score-label {
	@include type-style-label;
}

.card__score-value {
	@include typescale('display-sm');
}

.card img {
	width: 100%;
	height: auto;
}
