$secondary-basis: layout-width(secondary, min);
$primary-basis: layout-width(primary, min);
$relative-size: $primary-basis / $secondary-basis;

.layout {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	margin: -#{spacing('base')} 0 0 -#{spacing('base')};

	&--center {
		margin: -#{spacing('base')} auto 0 auto;
	}
}

.layout__section {
	flex: $relative-size $relative-size $primary-basis;
	margin: spacing('base') 0 0 spacing('base');
	min-width: 51%;
	&--secondary {
		flex: 1 1 $secondary-basis;
		min-width: 0;
	}
}

// Margins
// NOTE: Margins are using the same values from our type scale

.l-mb-small {
	margin-bottom: map-get($typescale-map, 'body');
}

.l-mb-medium {
	margin-bottom: map-get($typescale-map, 'h5');
}

.l-mb-large {
	margin-bottom: map-get($typescale-map, 'h3');
}

.l-mr-small {
	margin-right: map-get($typescale-map, 'body');
}

// Padding
.l-pl-0 {
	padding-left: 0;
}

.l-pb-0 {
	padding: 0;
}

.l-pa-medium {
	padding: rem(16);
	@include gt('large') {
		padding: rem(32);
	}
}

.l-ph-medium {
	padding-left: rem(16);
	padding-right: rem(16);

	@include gt('large') {
		padding-left: rem(32);
		padding-right: rem(32);
	}
}

// Centering

.l-page-inner {
	min-height: 100vh;
	padding-top: rem(48);

	@include gt('medium') {
		padding-left: rem(240);
	}

	.sidebar--is-collapsed & {
		padding-left: rem(40);
	}
}

// Layout Specific
.l-detail-wrapper {
	display: flex;
	flex-flow: column;

	.l-detail-container {
		width: 100%;
		padding: 0;
		margin-top: rem(20);
	}

	@include gt('large') {
		flex-flow: row;
	}
}

.l-detail__image {
	padding-left: rem(16);
	margin-bottom: rem(16);
	@include gt('large') {
		padding-left: rem(48);
		margin-bottom: rem(32);
	}
}

.l-detail__content {
	width: 100%;
	@include gt('medium') {
		padding: 0 rem(16);
	}

	@include gt('large') {
		padding: 0 rem(32);
	}
}
