// Page

.page {
	display: flex;
	width: 100%;

	&--no-header {
		margin-top: 4rem;
	}
}

.header-primary + .main-content {
	.page {
		min-height: calc(100vh - #{rem(48)});
	}
}

.page__header {
	padding-top: spacing('base');

	@include gt('small') {
		padding-top: 1.5rem;
	}

	@include gt('medium') {
		padding-top: 1.5rem;
	}
}

.page__header-back-link {
	display: inline-flex;
	align-items: center;
	height: rem(36);
	margin-left: spacing('base');
	color: $c-text-light;
	padding: spacing('none');
	text-decoration: none;

	&:hover {
		color: $c-text;
	}

	&:hover .page__header-back-link-icon {
		fill: $c-text;
	}

	@include gt('small') {
		margin-left: 1.5rem;
	}

	@include gt('medium') {
		margin-left: spacing('extra-loose');
	}
}

.page__header-back-link-icon {
	fill: $c-text-light;
	height: rem(24);
	margin-left: rem(-8);
}

.page__header-main {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	padding: 0 spacing('base') 00;

	&--has-bottom-border {
		padding-bottom: spacing('base');
		border-bottom: 1px solid $c-border-light;

		@include gt('small') {
			padding-bottom: 1.5rem;
		}
	}

	> .btn {
		flex: 0 0 auto;
		margin-top: spacing('tight');

		&.btn-simple {
			margin-left: -1 * spacing('tight');

			@include gt('small') {
				margin-left: 0;
			}
		}
	}

	@include gt('small') {
		padding: 0 1.5rem;
	}

	@include gt('medium') {
		padding: 0 spacing('extra-loose');
	}

	@include gt('990px') {
		flex-flow: row;
		justify-content: space-between;

		.btn {
			margin-top: 0;
		}
	}
}

.page__header-title-wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.page__header-sidebar-btn {
	@include gt('990px') {
		display: none;
	}
}

.page__header-tabs {
	padding: 0 spacing('base');

	@include gt('small') {
		margin-top: spacing('tight');
		padding: 0 1.5rem;
	}

	@include gt('medium') {
		padding: 0 spacing('extra-loose');
	}
}

.page__content-container {
	flex: 1;
	height: calc(100vh - #{rem(48)});
	overflow-y: scroll;
}

.page__content {
	padding: spacing('extra-loose') 0;

	> .text-container {
		padding: 0 spacing('base');
		@include gt('small') {
			padding: 0 spacing('loose');
		}
		@include gt('medium') {
			padding: 0;
		}
	}
}
