// Page

.page-wrapper {
	margin: 0 auto;
	max-width: layout-width('primary', 'max') + layout-width('secondary', 'max') +
		(spacing('xl') * 2) + spacing('md');
	min-height: 100vh;
	@include gt('medium') {
		padding: 0 spacing('xl');
	}

	&--single-column {
		max-width: layout-width('primary', 'max') + (spacing('xl') * 2);
	}
}

.page-header {
	padding: spacing('xl') spacing('xl') 0;
	@include gt('medium') {
		padding-left: 0;
		padding-right: 0;
	}
}

.page-header__back-link {
	display: inline-flex;
	align-items: center;
	height: rem(44);
	color: inherit;
	text-decoration: none;
}

.page-content {
	margin-top: spacing('xl');
}
