// Page

.page {
	min-height: 100vh;

	&--no-header {
		margin-top: 4rem;
	}
}

.page__header-main {
	padding: spacing('base') spacing('base') 0;

	@include gt('small') {
		padding: 1.5rem 1.5rem 0;
	}

	@include gt('medium') {
		padding: 1.5rem spacing('extra-loose') 0 spacing('extra-loose');
	}

	&--has-bottom-border {
		padding-bottom: spacing('base');
		border-bottom: 1px solid $c-border-light;

		@include gt('small') {
			padding-bottom: 1.5rem;
		}
	}

	&--has-tabs {
		padding-bottom: 0;
	}
}

.page__header-back-link {
	display: inline-flex;
	align-items: center;
	height: rem(44);
	color: $c-text-light;
	padding: spacing('none');
	text-decoration: none;

	&:hover {
		color: $c-text;
	}

	&:hover .page__header-back-link-icon {
		fill: $c-text;
	}
}

.page__header-back-link-icon {
	fill: $c-text-light;
	height: rem(24);
	margin-left: rem(-8);
}

.page__header-main {
	display: flex;
	flex-flow: column;
	align-items: flex-start;

	.btn {
		flex: 0 0 auto;
		margin-top: spacing('base');
	}

	@include gt('small') {
		flex-flow: row;
		justify-content: space-between;

		.btn {
			margin-top: 0;
		}
	}
}

.page__header-tabs {
	margin-top: spacing('tight');
	padding: 0 spacing('base');

	@include gt('small') {
		padding: 0 1.5rem;
	}

	@include gt('medium') {
		padding: 0 spacing('extra-loose');
	}
}

.page__content {
	padding: spacing('extra-loose') 0;

	> .text-container {
		padding: 0 spacing('base');
		@include gt('small') {
			padding: 0 spacing('loose');
		}
		@include gt('medium') {
			padding: 0;
		}
	}
}
