.empty-state {
	padding: rem(40) rem(16);
	color: $c-text-light;
	background-color: $c-bg;
	text-align: center;

	&__headline {
		font-weight: $font-weight-bold;
	}

	&__icon {
		display: inline-block;

		.icon {
			fill: none;
			height: 56px;
			stroke: $c-text-icon;
			width: 56px;

			path {
				stroke-width: 1px;
			}
		}
	}

	> * {
		margin-bottom: rem(8);
	}
}
