*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	font-size: $font-size-base;
	color: $c-text;
	height: 100%;
}

body {
	@include type-kerning;
	@include type-style-body;
	background-color: $c-bg;
	font-family: $font-family-primary;
	height: 100%;
}

strong {
	font-weight: $font-weight-bold;
}

.visually-hidden {
	visibility: hidden;
}
