.context-menu {
	position: relative;
	display: inline-block;
}

.context-menu__button .btn__icon {
	stroke: $c-text-icon;
}

.context-menu__button.btn-simple .btn__icon {
	fill: $c-primary;

	&.btn__line-icon {
		fill: none;
		stroke: $c-primary;
	}
}

.context-menu--is-visible {
	.context-menu__button {
		background-color: $c-grey-00;
	}
}

.context-menu__menu {
	position: absolute;
	// top: 100%;
	// right: 0;
	// z-index: 2;
	width: rem(160);

	&.context-menu__menu-large {
		width: rem(240);
	}

	&.context-menu__menu-left {
		// right: auto;
		// left: 0;
		transform: translate(-100%, 0);
	}

	&.context-menu__menu-top {
		// top: auto;
		// bottom: 100%;
		transform: translate(0, -100%);
	}

	&.context-menu__menu-left.context-menu__menu-left {
		transform: translate(-100%, -100%);
	}

	// .context-menu--is-hidden & {
	// 	transform: translate(0, 4px);
	// 	opacity: 0;
	// 	visibility: hidden;
	// 	transition: opacity 300ms ease, transform 300ms ease,
	// 		visibility 0s linear 300ms;
	// }

	.button-group {
		width: 100%;
		max-height: rem(224);
		overflow-y: auto;

		.btn {
			border-radius: 0;
		}
	}
}

.context-menu__item-btn {
	text-align: left;
}
