$time-gutter-width: rem(50);
$day-col-width: rem(200);
$selected-event-width: $day-col-width;
$event-indent-width: rem(50);

@mixin eventFill($fillColor, $borderColor, $textColor) {
    border: 1px solid $borderColor;
        .bigcalendar__event-block.busy {
            background: $fillColor;
            color: $textColor;
        }
        .bigcalendar__event-block {
            border-bottom: 1px solid $borderColor;
        }
        .bigcalendar__event-block:last-of-type {
            border-bottom: none;
        }
}

.bigcalendar {

    
}

body.sb-show-main {
}

.l-pa-medium {
    padding: 0 !important;
}

.bigcalendar__header-top {
    border-bottom: 1px solid $c-border;
    display:flex;
}

.bigcalendar__header-controls {
    display:flex;
}

.bigcalendar__header-bottom {
    border-left: 1px solid $c-border;
    border-bottom: 1px solid $c-border;
    margin-left: $time-gutter-width;
    display: flex;
    align-content: center;
    padding: rem(5);
    justify-content: space-between;
}

.bigcalendar__header-smalldate {

    .dow {
        font-size: rem(10);
    }

    .day {
        font-size: rem(20);
    }
}


.bigcalendar__teammate-header {
    margin-left: $time-gutter-width;
    position: relative;
    overflow: hidden;
    border-left: 1px solid $c-border;
    height: rem(50);
    .inner {
        overflow-x: auto;    
        display: flex;
        left:0px;
        top:0px;
        right:0px;
        bottom:-20px;
        padding-bottom:20px;
        position: absolute;
    }
    
    .teammate {
        @include typescale('legal');
        display: flex;
        align-items: center;
        font-weight: $font-weight-bold;
    }

    .avatar__image-wrapper {
        padding:rem(3);
    }

}

.bigcalendar__drag-grid {
    position: relative;
    overflow: auto;
    // -webkit-overflow-scrolling: touch;
    border-left: 1px solid $c-border;
    .scroll-inner {
        display: flex;
    }
    .hour-block {
        border-bottom: 1px solid $c-border;
        &.inactive {
            border-color: lighten($c-border, 5%);
        }
    }
}

.bigcalendar__view-day {
    
    .bigcalendar__time-gutter {
        @include type-style-label;
        min-width: $time-gutter-width;
        max-width: $time-gutter-width;
        text-align: right;
        padding-right:rem(5);
        position: relative;
        overflow: hidden;
        
        p {
            position: relative;
            top: rem(-6);
        }
    }
    
    .bigcalendar__time-gutter .inner {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    .bigcalendar__body-wrapper {
        display: flex;
        border-top: 1px solid $c-border;
    }

    .bigcalendar__day-col, 
    .bigcalendar__teammate-header .teammate {
        min-width: $day-col-width;
        max-width: $day-col-width;
        border-right: 1px solid $c-border;
    }

    .hour-block {
        height: rem(60);
        display: flex;
        flex-direction: column;

        
        .timeslot {
            flex:1;
            border-bottom: 1px solid lighten($c-border, 10%);
        }  
        
        &.inactive, .timeslot.inactive {
            background-color: lighten($c-border, 15%);
            
        }
        
        .timeslot:last-of-type {
            border:none;
        }
    }
 
    

    &.has-highlighted-event,
    &.has-selected-event {

        .bigcalendar__day-col,
        .bigcalendar__event {
            opacity: 0.4;
        }
        .is-active-drag.bigcalendar__event,
        .is-selected.bigcalendar__event {
            opacity: 1;
        }
    }

    .bigcalendar__time-line {
        height:1px;
        background-color: $c-primary-dark;
        position: absolute;
        left:0px;
    }

    .event-details {
        position: absolute;
        z-index: 4;
    }

    .bigcalendar__event {
        width: $day-col-width;
        &.is-selected {
            max-width: $selected-event-width;
        }

        &.is-active-highlight {
            
            .busy { 
                overflow: visible;
                .resize-handle {
                    height: 10px;
                
                    .resize-highlight-handle {
                        height:10px;
                        width:10px;
                        border:1px solid $c-primary;
                        display: block;
                        border-radius:50%;
                        background-color: #fff;
                        position: absolute;
                    }
                    
                    &.resize-n {
                        top:-5px;
                        right:0px;
                        .resize-highlight-handle { 
                            right:10px;
                            top:0px;
                        }
                    }
        
                    &.resize-s {
                        bottom: -5px;
                        .resize-highlight-handle { 
                            left:10px;
                            top:0px;
                        }
                    }
        
                } 
            }
        }
    }

}

.bigcalendar__event {
    border: 1px solid $c-primary;
    position: absolute;
    left:0px;
    top:0px;
    z-index: 1;

    &.is-drag-source {
        opacity: 0.5;
    }

    &.is-active-drag {
        
    }

    &.animate {
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -ms-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }


    &.event-fill-1 {
         @include eventFill($c-white, $c-primary, $c-primary)
    }

    &.event-fill-2 {
        @include eventFill(#E6F1FB, $c-primary, $c-primary-dark)
    }

    &.event-fill-3 {
        @include eventFill($c-secondary, $c-secondary, $c-white)
    }

    &.event-fill-4 {
        @include eventFill($c-ui-warn-light, $c-ui-warn-dark, #242933)
    }

    &.event-fill-5 {
        @include eventFill($c-ui-critical-light, $c-ui-critical, #242933)
    }
}

.bigcalendar__event-block {
    @include type-style-body-sm;
    overflow: hidden;
    background: $c-primary;
    color: #fff;
    cursor: pointer;
    position: relative;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    p {
        padding-left:5px;
    }

    p:first-of-type {
        padding-top:2px;
    }

    .title {
        font-weight:$font-weight-bold;
    }
    
    &:not(:nth-child(1)) {
        .time {
            display: none;
        }
    }

    &.available {
        z-index: 1;
        background: transparent;
        cursor: default;
        p {
            display: none;
        }
    }
    
    &.available:last-child,
    &.busy  {
        z-index: 2;
        .resize-handle {
            position: absolute;
            left:0px;
            right:0px;
            height: 5px;
            z-index: 4;
            
            &.resize-n {
                display: none;
                top:0px;
                cursor:ns-resize;
            }
            
            &.resize-s {
                bottom: 0px;
                cursor:ns-resize;
            }

            .resize-highlight-handle {
                display: none;
            }
        }
    }

    &.busy  {
        .resize-handle.resize-n {
            display: block;
        }
    }

    .left-icons, .right-icons {
        position: absolute;
        left:2px;
        top:2px;

        svg {
            width:15px;
            stroke: #fff;
        }
    }

    .right-icons {
        left:auto;
        right:2px;
    }

    
}