.Storybook-IconGrid {
  display: flex;
  flex-wrap: wrap;
  background: #eee;
  padding: 10px;

  .Storybook-IconGridItem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 150px;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    background: #fff;
    font-size: 0.75rem;
  }
}
