.card {
	width: 100%;
	max-width: rem(720);
	padding-bottom: rem(16);	
	background-color: $c-bg-light;
	box-shadow: $dimension-floating;

	* {
		// background-color: rgba(0,0,255,0.1);
	}

	&.card-centered {
		text-align: center;
	}

	@include gt('small') {
		padding-bottom: rem(24);
	}
}

.card-header {
	display: flex;
	justify-content: space-between;
	padding: rem(16);

	.card-centered & {
		flex-flow: column-reverse;
		align-items: flex-end;
	}
	.card-critical & {
		border-top: 4px solid $c-ui-critical; 
	}

	@include gt('small') {
		padding: rem(16) rem(24);
	}
}

.card-header__label {
	@include type-style-label;
	display: inline-flex;
	align-items: center;

	.card-critical & {
		color: $c-ui-critical; 
	}
}

.card-header__label-icon {
	margin-right: rem(4);

	.card-critical & {
		fill: $c-ui-critical; 
	}
}

.card-header__actions {
	flex: 0 0 auto;
	margin-top: rem(-8);
	margin-left: rem(8);

	.context-menu .context-menu__button {
		width: rem(36);
		height: rem(36);
	}

	@include gt('small') {
		margin-top: rem(-4);
	}
}

.card-header__title {
	@include typescale('body');
	flex: 1 1 auto;
	width: 100%;
	font-weight: $font-weight-bold;

	@include gt('small') {
		@include typescale('h3');
	}
}

.card__body-inner {
	padding: 0 rem(16) rem(16);

	@include gt('small') {
		padding: 0 rem(24);
	}

	// background-color: rgba(0,0,100,0.1);
}

.card__footer {
	padding: rem(16) rem(16) 0 rem(16);

	@include gt('small') {
		padding-left: rem(24);
		padding-right: rem(24);
	}
}

// Groups
.card-group__wrapper {
	@include gt('small') {
		padding: rem(16);
	}
}
.card-group .card {
	margin-bottom: rem(8);

	@include gt('small') {
		margin-bottom: rem(16);
	}
}

// Styles for Score Cards

.card__scores {
	display: flex;
	flex-flow: column;
	justify-content: stretch;
	margin-top: rem(16);

	@include gt('medium') {
		flex-flow: row;
	}
}

.card__score {
	flex: 1 0 auto;
	padding: rem(16);
	text-align: center;
	color: $c-text-light;
	border-top: 1px solid $c-border;

	@include gt('medium') {
		border-right: 1px solid $c-border;
	
		&:last-of-type {
			border-right: none;
		}
	}
}

.card__score-label {
	@include type-style-label;
}

.card__score-value {
	@include typescale('big-h4');	
}

.card img {
	max-width: 100%;
	height: auto;
}

