.message-feed__wrapper {
	display: flex;
	height: 100%;
	overflow: hidden;
}

.message-feed {
	flex: 1;
}

.message-feed__day-header {
	width: calc(100% - #{rem(32)});
	margin: spacing('base');
	padding: spacing('tight') 0;
	border-bottom: 1px solid $c-border;
}

.message-feed__empty-text {
	@include type-style-h3;
	padding: spacing('base');
	color: $c-text-light;
}
