// .message-feed__wrapper {
// 	position: relative;
// 	margin-top: rem(-48);
// }

// .message-feed {
// 	display: flex;
// 	flex-flow: column-reverse;
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100vh;
// 	overflow-x: hidden;
// 	overflow-y: scroll;

// 	> *:last-child {
// 		padding-top: rem(64);
// 	}
// }

.message-feed__day-header {
	width: calc(100% - #{rem(32)});
	margin: spacing('base');
	padding: spacing('tight') 0;
	border-bottom: 1px solid $c-border;
}

.message-feed__empty-text {
	@include type-style-h3;
	padding: spacing('base');
	color: $c-text-light;
}
